

.icon{
    width: 75% !important;
    max-height: 90dvh;
    margin: 5px auto;
}
.icon-space{
    position: relative;
    box-sizing: border-box !important;
    width: 75% !important;
    background-color: #1f2b6e;
    max-height: 100dvh;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-login{
    overflow: hidden; /* Esconde qualquer parte que ultrapasse os limites */
    max-height: 100dvh; /* Limita a altura ao tamanho da viewport */
    max-width: 100%;
}
.title-logo{
    position: relative;
    font-family: "Orbitron", sans-serif;
    background-image:  linear-gradient(46deg, #1471f3, #1f2b6e);
    max-height: 40px;
    width: 230px;
    color: #FAFAFA;
    padding: 5px;
}
.icon-title{
    font-size: 2rem !important;
    margin-bottom: 5px;
}
.logo{
    box-sizing: border-box !important;
    width: 50px;
    height: 70px;
}

.logoP{
    width: auto;
    height: auto;
    max-height: 400px !important;
}
.spinner{
    display: none !important;
}

@media only screen and (max-width: 600px) {
    .icon-space{
        position: absolute;
        width: 100% !important;
        height: 100%  !important;
        z-index: 1000;
        flex-direction: column;
        animation: outLogin 6s linear forwards; /* Ajuste de tempo da animação */
    }
    .spinner{
        display: block !important;
        color: white !important;
    }
    @keyframes outLogin {
        0% {
            left: 0;
        }
        50%{
            left: 0;
        }
        100%{
            left: -100%;
            visibility: hidden; /* Alteração para visibility em vez de display */
        }
    }

}





